@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Microsoft YaHei","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul,ol{
	list-style: outside none none;
}
a {
	text-decoration: none;
}
.none {
	display: none;
}
#header{
	width: 100%;
	min-width: 1263px !important; 
	height: 70px;
	background-color: #333;
	box-shadow:  0 1px 10px rgba(0, 0, 0, .5); /*添加阴影效果*/
	/*提升层次，使阴影效果不被遮挡*/
	position: relative;  
	z-index: 9999;
}
#header .center {
	width: 1263px;
	height: 70px;
	margin: 0 auto;
}
#header .logo {
	width: 240px;
	height: 70px;
	float: left;
	background-image: url(../img/logo.png);
	text-indent: -9999px;
}
#header .link {
	float: right;
	width: 650px;
	height: 70px;
	text-align: center;
	line-height: 70px;
}
#header .link li {
	width: 120px;
	
	float: left;
}
#header .link a{
	display: block;
	color: #eee;
}
#header .link a:hover, 
#header .active a {
	background-color: #000;
}

/*底部元素*/
#footer{
	height: 360px;
	background-color: #222;
	clear: both;
	position: relative;
	top: 20px;
}
#footer .top {
	width: 1263px;
	height: 280px;
	margin: 0 auto;
	text-align: center;
}
#footer .block {
	width: 390px;
	height: 260px;
	padding: 20px 0 0 20px;
	display: inline-block;
	text-align: left;
	color: #ccc;
	vertical-align: top;
}
#footer h2 {
	font-size: 24px;
	font-weight: normal;
	color: #eee;
	letter-spacing: 1px;
}
#footer hr {
	width:90%;
	margin: 5px 0 10px 0;
	border: 1px dashed #444;
}
#footer ul {
	font-size:16px;
	color: #999;
	line-height: 2;
}
#footer .bottom {
	height: 80px;
	background-color: #000;
	text-align: center;
	line-height: 80px;
	color: #777;
	border-top: 1px solid #444;
}