@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: outside none none;
}
a {
	text-decoration: none;
}
.none {
	display: none;
}
#header{
	width: 100%;
	min-width: 1263px !important; 
	height: 70px;
	background-color: #333;
	box-shadow:  0 1px 10px rgba(0, 0, 0, .5); /*添加阴影效果*/
	/*提升层次，使阴影效果不被遮挡*/
	position: relative;  
	z-index: 9999;
}
#header .center {
	width: 1263px;
	height: 70px;
	margin: 0 auto;
}
#header .logo {
	width: 240px;
	height: 70px;
	float: left;
	background-image: url(../img/logo.png);
	text-indent: -9999px;
}
#header .link {
	float: right;
	width: 650px;
	height: 70px;
	text-align: center;
	line-height: 70px;
}
#header .link li {
	width: 120px;
	
	float: left;
}
#header .link a{
	display: block;
	color: #eee;
}
#header .link a:hover, 
#header .active a {
	background-color: #000;
}
/*搜索区*/
#serach {
	width: 100%;
	min-width: 1263px !important; /*最小宽度，保证页面效果*/
	height: 600px;
	position: relative;
	background: url(../img/search.jpg) no-repeat center;
}
#serach .center {
	width: 600px;
	height: 60px;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -300px;
	border-radius: 10px;
	opacity: 0.6;
}
#serach .search {
	width: 446px;
	height: 54px;
	position: absolute;
	top: 50%;
	left:50%;
	margin: -28px 0 0 -296px;
	border-radius: 10px;
	border: 1px solid #666;
	font-size: 24px;
	color: #666;
	outline: none;
	padding: 0 10px;
	background-color: #eee;
}
#serach .button {
	width: 120px;
	height: 54px;
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	margin: -28px 0 0 176px;
	font-size: 22px;
	border-radius: 10px;
	border: none;
	color: #666666;
	font-weight: bold;
	outline: none;
	background-color: #eee;
}
#tour{
	width: 1263px;
	height: 1200px;
	margin: 30px auto;
	text-align: center;
}
#tour h2{
	margin: 10px 0;
	font-size: 45px;
	letter-spacing: 2px;
	color: #666;
}
#tour figure{
	border: 1px solid #ddd;
	display: inline-block;
	width: 380px;
	padding: 4px;
	margin: 15px 12px;
	border-radius:4px;
	text-align: left;
	position: relative;
}
#tour figure img{
	vertical-align: middle;
}
#tour figcaption {
	font-size: 14px;
	color: #777;
	padding: 7px 0 5px 0;
	letter-spacing: 1px;
	line-height: 1.5;
}
#tour .title {
	color: #333333;
	font-weight: normal;
}
#tour .sat {
	float: right;
	font-size: 13px;
	color: #999;
	font-style: normal;
	position: relative;
	
	right: 5px;
}
#tour .price {
	color: #f60;
	font-size: 14px;
}
#tour .price strong{
	font-size: 20px;
	letter-spacing: 1px;
}
#tour .type{
	width: 90px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	background-color: #59b200;
	position: absolute;
	top: 4px;
	left: 4px;
	border-bottom-right-radius: 4px;
}
